<% css 'jquery.ad-gallery.css' %>
<%# css 'themes/classic/galleria.classic.css' %>

<% javascript 'ad_gallery.js' %>
<% javascript 'jquery.ad-gallery.js' %>
<%# javascript 'jquery.ad-gallery.pack.js' %>

<%# javascript "galleria-1.2.7.min.js"  %>
<%# javascript "themes/classic/galleria.classic.js" %>
<%# javascript "themes/classic/galleria.classic.min.js" %>
<%# javascript "galleria.js" %>

<div class="central-nav">
  <ul class="nav nav-pills">
    <% Category.all.each do |category|  %>
      <li <%= raw('class="active"') if @category.id == category.id %> >
        <%= link_to category.name, category_path(category) %>
      </li>
    <% end -%>
  </ul>
</div>
<hr />
<%= model_info @model %>
<br />
<% if @photos.empty? %>
  <div class="hero-unit">
    <h2>Sorry, no photos yet :(</h2>
    <hr />
    <p>This models does not have any photos yet. </p>
    <p>Please try again later, or <%= mail_to "contact@ariane.rw", "contact the administrator" %> if you still encounter this issue.</p>
  </div>
<% else %>
  <%= render :partial => 'ad_gallery' %>
  <br />
  <br />
  <br />
  <%#= render :partial => 'galleria' %>
<% end -%>
