<%= form_tag delete_photos_path do %>
  <%# = render :partial => 'delete_photos' %>
  <%= will_paginate @photos %>
  <%= hidden_field_tag :model_id, @model.id %>
  <ul class="thumbnails">
    <% @photos.each do |photo| %>
      <li class="span2">
        <div class="thumbnail width_119">
          <%#= link_to image_tag("http://placehold.it/170x124", :alt => photo.image_file_name), "", :class => "thumbnail" %>
          <%= link_to image_tag(photo.image.url(:cover), :alt => photo.image_file_name), slideshow_url(@model.id)%>
          <%#= link_to image_tag(photo.image.url(:medium), :alt => photo.image_file_name, :class => "height_106_"), slideshow_url(@model.id), :class => "thumbnail fixed-proportions_" %>
          <div class="caption">
              <%= check_box_tag "photos[]", photo.id, false, :class => "valign-bottom" %>
              <%= photo.image_file_name %>
              <%= number_to_human_size photo.image_file_size %>
          </div>
        </div>
    </li>
  <% end -%>
</ul>
  <div class="well">
    <div class="btn-group">
      <%= button_to_function t(".btn_select"), "selectAll()", :class => 'btn', :id => "select_button" %>
      <%= button_tag t(".btn_delete"), :confirm => t(".confirm"), :class => 'btn btn-danger' %>
    </div>
  </div>
<% end -%>
