<div class="page-header">
  <h1>Models
    <%= link_to 'Create a new Model', new_administration_model_path, :class => 'btn btn-primary pull-right' %>
  </h1>
</div>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Created at</th>
      <th width="26%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @models.each do |model| %>
      <tr>
        <td><%= link_to model.name.titleize, administration_model_path(model) %></td>
        <td><%= model.category.name %></td>
        <td><%= model.created_at %></td>
        <td>
          <div class="btn-group">
            <%= link_to "Manage photos", administration_model_path(model), :class => "btn btn-mini" %>
            <%= link_to 'Edit details', edit_administration_model_path(model), :class => 'btn btn-mini' %>
            <%= link_to 'Destroy', administration_model_path(model), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @models %>
