<%= javascript "/assets/generic.js" %>
<div class="page-header">
  <h2>
    <%= @model.name %>
    <div class="btn-group pull-right small">
      <%= link_to raw("<i class='icon-home'></i> Back to Model list"), administration_models_path, :class => 'btn'  %>
      <%= link_to raw("<i class='icon-edit icon-white'></i> Edit model personal infos"), edit_administration_model_path(@model), :class => 'btn btn-success' %>
      <%= link_to raw("<i class='icon-trash icon-white'></i> Delete"), administration_model_path(@model), :method => 'delete', :confirm => t(".confirm_model_del", :model => @model.name), :class => 'btn btn-danger' %>
    </div>
  </h2>
</div>
<%= render :partial => 'add_photos' %>

<%#= image_tag(@model.photos.first.image.url(:thumb), :alt => "test") %>
<%#= image_tag("http://placehold.it/119x170", :alt => "test") %>

<% if @model.photos.empty? %>
  <p><%= t ".no-photo" %></p>
<% else %>
  <%= render :partial => 'display_photos' %>
<% end -%>
