<div class="page-header">
  <h2>
    <%= @model.name %>
    <div class="btn-group pull-right small">
      <%= link_to "Back to Model list", administration_models_path, :class => 'btn'  %>
      <%= link_to "Edit details", edit_administration_model_path(@model), :class => 'btn' %>
      <%= link_to t(:delete), administration_model_path(@model), :method => 'delete', :confirm => t(".confirm_model_del", :model => @model.name), :class => 'btn btn-danger' %>
    </div>
  </h2>
</div>
<%= render :partial => 'add_photos' %>

<%#= image_tag(@model.photos.first.image.url(:thumb), :alt => "test") %>
<%#= image_tag("http://placehold.it/119x170", :alt => "test") %>


<% if @model.photos.empty? %>
  <p><%= t ".no-photo" %></p>
<% else %>
  <%= render :partial => 'display_photos' %>
  <div class="well">
    <div class="btn-group">
      <%= button_to_function t(".btn_select"), "selectAll()", :class => 'btn', :id => "select_button" %>
      <%= button_tag t(".btn_delete"), :confirm => t(".confirm"), :class => 'btn btn-danger' %>
    </div>
  </div>
<% end -%>
